<div class = "title">Edit Player</div>

<form action='/games/{{gameId}}/players/{{player._id}}?_method=PUT' method='POST'>
    <div>Name: <input type='text' name='name' value={{player.name}}></div>
    <input type='submit' value='Update Player'>
</form>