<h1>New Player </h1>

<form action='/games/{{game._id}}/players' method='POST'>
    <div>Name: <input type='text' name='name'></div>
     <div>Position: <input type='text' name='position'></div>
    <input type='submit' value='Create New Player'>
</form>

