<div class="container">
    <div class="pre">Welcome to</div>
    <div class="welcome">{{title}}</div>

</div>
<p>Dribble is a not so serious, just for fun, application that allows you to track the stats of players in a pick-up
    basketball game. <br> You can create games, add players and edit the stats for each player.</p>

<div>
    <a class="start links" href='/games'>Start</a>
</div>