<div class = "title">Games</div>
<h3>Dates:</h3>
<div>
    {{#each games}}
    <div><a href='/games/{{this.id}}'>{{this.date}}</a></div>
    {{/each}}
</div>

<a class = "links" href='/games/new'>( + )</a>