<div class = "title">Games</div>
<div class = "subtitle">Dates:</div>
<div>
    {{#each games}}
    <div><a href='/games/{{this.id}}'>{{this.date}}</a></div>
    {{/each}}
</div>

<a class = "links" href='/games/new'>( + Add New Game)</a>