<h1>New Game </h1>

<form action='/games' method='POST'>
    <div>Date: <input type='text' name='date'></div>
    <div>Location:<input type='text' name='location'></div>
    <input type='submit' value='Create New Game'>
</form>

